.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-gray-opacity);
    z-index: 9998;
}

.modal {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    box-shadow: var(--bs-gray-dark);
    z-index: 9999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    z-index: 9999;
}

.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: transparent;
    font-size: 1.25rem;
    cursor: pointer;
}