.embed-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin: auto;
}

.embed-btn-container button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid #F1F5F9;
    cursor: pointer;
    box-shadow: var(--bs-gray);
    font-size: 0.9rem;
}

.embed-btn-container button:hover {
    background-color: #F1F5F9;
}

.embed-btn-container button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.embed-btn-container p {
    flex-grow: 1;
    text-align: left;
}

@media (max-width: 900px) { 
    .embed-btn-container {
        grid-template-columns: 1fr ;
    }   
}

@media (max-width: 900px) { 
    .embed-btn-container {
        font-size: 0.8rem;
    }   
    .embed-btn-container button img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }
    
}